/* #btnOne {
  background-color: hotpink;
}
#btnSecond {
  background-color: lawngreen;
}
#btnThird {
  background-color: lightsalmon;
}
.one {
  color: green;
}
.two {
  font-size: 50px;
}
.three {
  font-weight: bold;
}

.loading {
  background-color: green;
  width: 0px;
  height: 50px;
} */

/* 17.01 */
